input[type=text] {
  width: 100%;
  font-size: 28px;
  font-weight: 500;
  padding: .3rem 1rem;
  margin: .5rem 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-bottom: 3px solid #5468ff;
}

form {
  display: flex;
  align-items: center;
  margin: 4% 0 4% 5px;
  
}

.playlist {
  width: 45%;
  min-height: 1100px;
  background-color: #fff;
}



/* CSS */
.save {
  /* align-items: center; */
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-right: 5px;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  /* height: px; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  /* padding-left: 8px;
  padding-right: 16px;
  padding-bottom: 5px; */
  padding: 0.34rem;
  position: relative;
  /* text-align: left; */
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* white-space: nowrap; */
  will-change: box-shadow,transform;
  font-size: 22px;
}

.save:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.save:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.save:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

@media only screen and (max-width: 1020px) {
  .playlist {
    width: 90%;
  }
}